p {
  /*乘法运算*/
  width: 1000px;
  /* 1000px */
  width: 10000px;
  /* 10000px */
  width: 900px;
  /* 900px */
  width: 10px;
  /* 10px */
  width: 1px;
  /* 1px */
  width: 11.11111111px;
  /* 11.111111111px */
  /*乘法总结：当两个运算数有一个有单位时 以该单位为准 如果都有单位 以第一个运算数的单位为准*/
  /*除法总结：当两个运算数有一个有单位时 以该单位为准 如果都有单位 以第一个运算数的单位为准*/
  /*加法与减法*/
  width: 101px;
  /* 101px */
  width: 111px;
  /* 111px */
  width: 196px;
  /* 196px */
  width: 2.04166667in;
  /* 2.xxxxin */
  width: 99px;
  /* 99px */
  width: 89px;
  /* 89px */
  width: 4px;
  /* 4px */
  width: -0.04166667in;
  /*  */
  /*加法总结： 当两个运算数有一个有单位时 以该单位为准 如果都有单位 会向第一个运算数的单位进行转换*/
  /*减法总结： 当两个运算数有一个有单位时 以该单位为准 如果都有单位 会向第一个运算数的单位进行转换*/
}
