<div id="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 logo">
				<img src="/web/imgs/logo.png" alt="">
			</div>
			<div class="col-lg-6 header-title text-right">
				<img src="/web/imgs/title.png" alt="">
			</div>
		</div>
	</div>
</div>