<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/web/css/bootstrap.min.css">
	<style type="text/css">
		/* 公共样式start */
		ul {
			list-style: none;
			padding: 0;
		}
		
		/* 公共样式end */
		 
		/* 导航start */
		#nav .user-info {
			display: flex;
			align-items: center;
		}
		#nav .user-info .username {
			padding: 20px;
		}
		#nav .user-info .head-pic {
			height: 60px;
			line-height: 60px;
		}
		#nav .user-info .head-pic a {
			
		}
		#nav .user-info .head-pic a img {
			height: 80%;
		}
		/* 导航end */


		/* 裁剪start */
		* {
			margin: 0;
			padding: 0;
		}
		#area {
			position: relative;
			margin: 0 auto;
			border: 1px solid #ccc;
		}
		#mask {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .2);
		}
		#cut {
			position: absolute;
			top: 0;
			left: 0;
			width: 100px;
			height: 100px;
			background-image: url(<%=head_pic%>);
		}
		#dot {
			position: absolute;
			right: -5px;
			bottom: -5px;
			width: 10px;
			height: 10px;
			background-color: red;
			border-radius: 50%;
		}
		/* 裁剪end */

		#cutArea .row {
			display: flex;
			justify-content: center;
		}
	</style>
</head>
<body>
	<!-- 页头 -->
	<% include ./components/header.ejs %>
	<!-- 导航 -->
	<% include ./components/nav.ejs %>


	<div id="cutArea">
		<div class="container">
			<div class="row">
				<div id="area">
					<img id="areaImg" src="<%=head_pic%>" alt="">
					<div id="mask"></div>
					<div id="cut">
						<div id="dot"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<button class="btn btn-primary btn-lg" id="btn">裁剪</button>
		</div>
	</div>
  <script type="text/javascript" src="/web/js/jquery.min.js"></script>
  <script type="text/javascript">
  	// 获取元素
		var area = document.getElementById("area");
		var cut = document.getElementById("cut");
		var dot = document.getElementById("dot");
		var $headPic = $("#headPic");
		var $areaImg = $("#areaImg");

		// 拖动小圆点能够拉大裁剪区域
		// 给小圆点添加按下事件
		dot.onmousedown = function(e) {
			// 阻止冒泡
			e.stopPropagation();
			// 获取当前的鼠标位置
			var x = e.clientX;
			var y = e.clientY;
			// 获取cut的宽度高度
			var cut_width = cut.clientWidth;
			var cut_height = cut.clientHeight;
			// 给document添加mousemove事件
			document.onmousemove = function(e) {
				// 获取移动之后鼠标的位置
				var moved_x = e.clientX;
				var moved_y = e.clientY;
				// 计算移动了多少
				var resultX = cut_width + moved_x - x;
				var resultY = cut_height + moved_y - y;
				// 判定
				if (resultX < 0) {
					resultX = 0;
				} else if (resultX >= area.clientWidth - cut.offsetLeft) {
					resultX = area.clientWidth - cut.offsetLeft;
				}
				if (resultY < 0) {
					resultY = 0;
				} else if (resultY >= area.clientHeight - cut.offsetTop) {
					resultY = area.clientHeight - cut.offsetTop;
				}
				// 赋值 
				cut.style.width = resultX + "px";
				cut.style.height = resultY + "px";
			}
		}
		// 拖动裁剪区域时，能够移动裁剪区域
		cut.onmousedown = function(e) {
			// 获取鼠标当前的位置
			var x = e.clientX;
			var y = e.clientY;
			// 获取cut的定位置
			var positionX = cut.offsetLeft;
			var positionY = cut.offsetTop;
			// 绑定document.onmousemove
			document.onmousemove = function(e) {
				// 鼠标移动之后的距离
				var moved_x = e.clientX;
				var moved_y = e.clientY;
				// 计算移动了多少
				var resultX = positionX + moved_x - x;
				var resultY = positionY + moved_y - y;
				// 边界判定
				if (resultX < 0) {
					resultX = 0; 
				} else if (resultX >= area.clientWidth - cut.clientWidth) {
					resultX = area.clientWidth - cut.clientWidth;
				}
				if (resultY < 0) {
					resultY = 0;
				} else if (resultY >= area.clientHeight - cut.clientHeight) {
					resultY = area.clientHeight - cut.clientHeight;
				}
				// 改变定位置
				cut.style.left =  resultX + "px";
				cut.style.top =  resultY + "px";
				// 改变cut的背景定位值
				cut.style.backgroundPositionX = -(resultX) + "px"
				cut.style.backgroundPositionY = -(resultY) + "px"
			}
		}
		// 鼠标抬起时，取消事件
		document.onmouseup = function() {
			document.onmousemove = null;
		}


		// 添加点击事件
		var $btn = $("#btn");
		// 设置点击事件
		$btn.click(function() {
			// 获取裁剪区域的信息
			var x = cut.offsetLeft;
			var y = cut.offsetTop;
			var w = cut.offsetWidth;
			var h = cut.offsetHeight;
			// 发送ajax 将数据传递给后台 后台完成裁剪功能
			$.ajax({
				url: "/caijian",
				data: {
					x: x,
					y: y,
					w: w,
					h: h
				},
				type: "get",
				dataType: "json",
				success: function(data) {
					// 判定
					if (!data.error) {
						console.log(data.data);
						// 初始化一张图片 设置src
						var img = new Image();
						img.src = "<%=head_pic%>?" + Math.random()
						img.onload = function() {
							$headPic.attr("src", img.src);
							$areaImg.attr("src", img.src);
							cut.style.top = 0;
							cut.style.left = 0;
							cut.style.width = 100 + "px";
							cut.style.height = 100 + "px";
							cut.style.backgroundImage = "url(" + img.src + ")";
							cut.style.backgroundPosition = " 0 0 ";

						}
					}
				}
			})
		});
  </script>
</body>
</html>