<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>error</title>
	<link rel="stylesheet" href="/web/css/bootstrap.min.css">
</head>
<body>
	<!-- 页头 -->
	<% include ./components/header.ejs %>
	<div class="container text-center"><%=msg%></div>
</body>
</html>